body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --label-02: "Roboto Condensed";
  --font-takota: Takota;
  --font-work-sans: "Work Sans";

  /* font sizes */
  --label-02-size: 16px;
  --font-size-45xl: 64px;
  --cap-02-size: 12px;
  --heading-h4-size: 32px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-seashell: #fcf3ee;
  --gray-900: #132238;
  --black1: #1c1d28;
  --black: #161722;
  --color-darkorange-100: #ff9933;
  --color-black: #000;
  --white: #fff;
  --gray-600: #556070;

  /* Border radiuses */
  --br-xs: 12px;
}
