@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.background-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2441.19px;
  height: 5773px;
}
.impressions {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.this-left-an {
  margin: 0;
}
.impressions-this-left-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 35px;
}
.individuals-striving-for {
  font-size: var(--font-size-xl);
  font-family: var(--font-work-sans);
}
.students-aiming-for-academic-e {
  margin-bottom: 0;
}
.individuals-striving-for-perso {
  margin: 0;
  padding-left: 27px;
}
.who-should-read-container {
  position: absolute;
  top: 444px;
  left: 0;
  line-height: 35px;
}
.notes {
  position: absolute;
  top: 817px;
  left: 162px;
  width: 842px;
  height: 731px;
  font-size: var(--font-size-xl);
}
.atomic-habits-james-container {
  position: relative;
  line-height: 70px;
}
.this-book-helped {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 20px;
  color: var(--gray-600);
  display: inline-block;
  width: 648px;
}
.book-note-1-child {
  position: relative;
  background-color: #ef6b24;
  width: 139px;
  height: 4px;
}
.book-note-1 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 622px;
  height: 298px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.first,
.image-2-icon {
  position: absolute;
  height: 459px;
}
.image-2-icon {
  top: 0;
  left: 792px;
  width: 305px;
  object-fit: cover;
  opacity: 1;
}
.image-2-icon.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.first {
  top: 269px;
  left: 184px;
  width: 1097px;
  font-size: 72px;
  color: var(--gray-900);
}
.atomic-habits-notes-1 {
  position: absolute;
  top: 1593px;
  left: 0;
  width: 1501px;
  height: 3431px;
  object-fit: cover;
}
.button-text {
  position: relative;
  line-height: 16px;
  text-transform: uppercase;
}
.button {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% + 55px);
  border-radius: var(--br-xs);
  background-color: var(--color-darkorange-100);
  display: flex;
  flex-direction: row;
  padding: 24px 64px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.button:hover {
  background-color: #ff8000;
}
.click-here-to {
  position: absolute;
  top: 31.25%;
  left: 16.02%;
  line-height: 24px;
  color: var(--white);
  text-align: right;
  opacity: 0.8;
}
.input {
  position: absolute;
  height: 34.78%;
  width: 100%;
  top: 65.22%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
}
.subscribe-to-get {
  position: absolute;
  width: 73.63%;
  top: 0;
  left: 0;
  font-size: var(--heading-h4-size);
  letter-spacing: -0.01em;
  line-height: 44px;
  text-transform: uppercase;
  display: inline-block;
  color: var(--white);
  text-align: left;
}
.subscription {
  position: absolute;
  top: 64px;
  left: 750px;
  width: 512px;
  height: 184px;
  text-align: center;
  color: var(--black1);
}
.icondribbble {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.facebook-negative,
.icondribbble,
.vector-icon {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.facebook-negative {
  text-decoration: none;
  height: 100%;
  width: 12.9%;
  top: 0;
  right: 87.1%;
  bottom: 0;
  cursor: pointer;
}
.vector-icon {
  height: 81.25%;
  width: 100%;
  top: 9.37%;
  right: 0;
  bottom: 9.38%;
  max-width: 100%;
  max-height: 100%;
}
.linkedin-negative,
.twitter-negative {
  text-decoration: none;
  height: 100%;
  width: 12.9%;
  bottom: 0;
  cursor: pointer;
}
.twitter-negative {
  position: absolute;
  top: 0;
  right: 58.06%;
  left: 29.03%;
  overflow: hidden;
}
.linkedin-negative {
  right: 29.03%;
  left: 58.06%;
}
.iconinstagram,
.linkedin-negative,
.linkedin-negative1 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.iconinstagram {
  height: 125%;
  width: 125%;
  right: -25%;
  bottom: -25%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.linkedin-negative1 {
  text-decoration: none;
  height: 100%;
  width: 12.9%;
  right: 0;
  bottom: 0;
  left: 87.1%;
  cursor: pointer;
}
.social-wrapper {
  position: absolute;
  height: 26.67%;
  width: 100%;
  top: 73.33%;
  right: 0;
  bottom: 0;
  left: 0;
}
.connect1 {
  position: absolute;
  top: 0;
  left: 29.03%;
  line-height: 24px;
}
.connect {
  position: absolute;
  top: 16px;
  left: 1262px;
  width: 124px;
  height: 60px;
}
.blog,
.book-notes {
  position: absolute;
  left: 0;
}
.blog {
  text-decoration: none;
  top: 68.67%;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.78;
}
.book-notes {
  top: 91.57%;
}
.book-notes,
.newsletter,
.portfolio {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.78;
}
.portfolio {
  position: absolute;
  top: 45.78%;
  left: 0;
}
.newsletter {
  top: 22.89%;
}
.about,
.links-list,
.newsletter {
  position: absolute;
  left: 0;
}
.about {
  text-decoration: none;
  top: 0;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.78;
}
.links-list {
  top: 44px;
  width: 66px;
  height: 166px;
}
.quicklinks {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--label-02-size);
  line-height: 24px;
  text-align: right;
}
.links-column {
  position: absolute;
  top: 64px;
  left: 537px;
  width: 66px;
  height: 210px;
  font-size: var(--cap-02-size);
}
.new-delhi-india,
.swatigraphics23gmailcom {
  position: absolute;
  top: 61.11%;
  left: 0;
  text-transform: uppercase;
}
.new-delhi-india {
  top: 0;
}
.address-number {
  position: absolute;
  top: 64px;
  left: 0;
  width: 120px;
  height: 36px;
}
.swati-sharma-2022-container {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
}
.content-left {
  position: absolute;
  top: 128px;
  left: 110px;
  width: 206px;
  height: 100px;
  font-size: var(--cap-02-size);
}
.ss,
.ss-parent,
.ss1 {
  position: absolute;
  top: 0;
}
.ss {
  left: 0;
  filter: blur(9px);
}
.ss-parent,
.ss1 {
  left: 5px;
  color: var(--color-seashell);
}
.ss-parent {
  text-decoration: none;
  top: 40px;
  left: 146px;
  width: 60px;
  height: 84px;
  font-size: var(--font-size-45xl);
  color: var(--color-darkorange-100);
  font-family: var(--font-takota);
}
.background,
.footer,
.nav-button {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer {
  height: 5.85%;
  top: 94.15%;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--label-02);
}
.background,
.nav-button {
  height: 100%;
  top: 0;
  background-color: var(--color-seashell);
}
.nav-button {
  height: 56.25%;
  width: 9.67%;
  top: 27.5%;
  right: 5%;
  bottom: 16.25%;
  left: 85.33%;
  border-radius: var(--br-xs);
  background-color: var(--color-darkorange-100);
  display: flex;
  flex-direction: row;
  padding: 20px 48px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.nav-button:hover {
  background-color: #fb7e00;
}
.ss2 {
  position: absolute;
  top: 1px;
  left: 0;
  filter: blur(9px);
}
.logo,
.ss-wrapper,
.ss3 {
  position: absolute;
  top: 0;
  left: 0;
}
.logo,
.ss-wrapper {
  left: 3px;
  width: 55px;
  height: 84px;
  color: var(--color-black);
}
.logo {
  top: 2px;
  left: 78px;
  width: 58px;
  height: 85px;
  font-size: var(--font-size-45xl);
  color: var(--color-darkorange-100);
  font-family: var(--font-takota);
}
.about1,
.blog1,
.book-notes1,
.newsletter1,
.portfolio1 {
  position: absolute;
  top: 38.75%;
  left: 46.7%;
  text-transform: uppercase;
  opacity: 0.9;
}
.about1:hover,
.blog1:hover,
.book-notes1:hover,
.newsletter1:hover,
.portfolio1:hover {
  color: var(--color-darkorange-100);
}
.about1,
.book-notes1,
.newsletter1,
.portfolio1 {
  left: 62.27%;
}
.about1,
.newsletter1,
.portfolio1 {
  left: 85.11%;
}
.about1,
.portfolio1 {
  top: 40%;
  left: 25.72%;
}
.about1 {
  top: 38.75%;
  left: 9.64%;
}
.divider {
  position: absolute;
  height: 102.5%;
  width: 0.34%;
  top: -1.25%;
  right: 99.83%;
  bottom: -1.25%;
  left: -0.17%;
  border-right: 2px solid var(--black);
  box-sizing: border-box;
  opacity: 0.1;
}
.links-list1 {
  position: absolute;
  height: 100%;
  width: 39.4%;
  top: 5%;
  right: 32.93%;
  bottom: -5%;
  left: 27.67%;
  color: var(--black);
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 80px;
  color: var(--black1);
  font-family: var(--label-02);
}
.atomic-habits-notes {
  position: relative;
  background-color: var(--color-seashell);
  width: 100%;
  height: 5336px;
  overflow: hidden;
  text-align: left;
  font-size: var(--label-02-size);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
